@using GoldenTicket.Models
@model List<Applicant>
           
<table class="table-applications">
    <thead>
        <tr>
            <td class="table-applications-col-fname">
                <span>First Name</span>
            </td>
            <td class="table-applications-col-lname">
                <span>Last Name</span>
            </td>
            <td class="table-applications-col-gender">
                <span>Gender</span>
            </td>
            <td class="table-applications-col-poverty">
                <span>Poverty</span>
            </td>
            <td class="table-applications-col-delete">
                <span>Delete</span>
            </td>
        </tr>
    </thead>

    <tbody>
        @foreach (Applicant applicant in Model)
        {
            <tr>
                <td class="table-applications-col-fname">
                    @Html.ActionLink(applicant.StudentFirstName, "ViewApplicant", new {id=applicant.ID})
                </td>
                <td class="table-applications-col-lname">
                    @Html.ActionLink(applicant.StudentLastName, "ViewApplicant", new { id = applicant.ID })
                </td>
                <td class="table-applications-col-gender">
                    <a href="ViewApplicant/@applicant.ID">@applicant.StudentGender.ToString()</a>
                </td>
                <td class="table-applications-col-poverty">
                    @Html.ActionLink("Below", "ViewApplicant", new { id = applicant.ID })
                </td>
                <td class="table-applications-col-delete">
                    @Html.ActionLink("Delete", "ViewApplicant", new { id = applicant.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
