@using GoldenTicket.Models
@using GoldenTicket.Resources

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js applications-index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main>
    <header>
        <div class="site-width">
            @if (ViewBag.LotteryRunDate == null) // If the lottery has NOT been run
            {
                <h1>Applications for</h1>
            }
            else // If the lottery has been run
            {
                <h1>Lottery results for</h1>
            }
            @using (Html.BeginForm())
            {
                <div class="field field-select">
                    @Html.DropDownList("school-select", new SelectList(ViewBag.Schools, "ID", "Name"))
                    <input type="submit" class="button" value="View" />
                </div>
            }
        </div>
    </header>

    <div class="page">
        <div class="site-width">
            @if (ViewBag.LotteryRunDate == null && ViewBag.IsLotteryClosed) // If the lottery has NOT been run and it's past the close date
            {
                <div class="notice">
                    <p>The pre-k lottery application can no longer be applied to. Click the button below to run the lottery for all applicants.</p>
                    <p>@Html.ActionLink("Run lottery","RunLottery", new {@class="button"})</p>
                </div>
            }
            
            <table class="table-applications">
                <thead>
                    <tr>
                        <td class="table-applications-col-fname">
                            <span>First Name</span>
                        </td>
                        <td class="table-applications-col-lname">
                            <span>Last Name</span>
                        </td>
                        <td class="table-applications-col-gender">
                            <span>Gender</span>
                        </td>
                        <td class="table-applications-col-poverty">
                            <span>Poverty</span>
                        </td>
                        <td class="table-applications-col-delete">
                            <span>Delete</span>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                    @foreach(Applicant applicant in ViewBag.Applicants)
                    {
                        <td class="table-applications-col-fname">
                            <span>@applicant.StudentFirstName</span>
                        </td>
                        <td class="table-applications-col-lname">
                            <span>@applicant.StudentLastName</span>
                        </td>
                        <td class="table-applications-col-gender">
                            <span>@applicant.StudentGender.ToString()</span>
                        </td>
                        <td class="table-applications-col-poverty">
                            <span>@applicant.HouseholdMonthlyIncome</span>
                        </td>
                        <td class="table-applications-col-delete">
                            <a href="Delete/@applicant.ID">X</a>
                        </td>
                    }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</main>

