@using System.Web.UI.WebControls
@using GoldenTicket.Models
@model List<School>

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js schools-index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<main>
    <header>
        <div class="site-width">
            <h1>Schools</h1>
            @Html.ActionLink(linkText: "Add a new school", actionName: "AddSchool", htmlAttributes: new {@class="button-forward"}, routeValues: null)
        </div>
    </header>
    <div class="page">
        <div class="site-width">
            @if (Model.Count == 0)
            {
                <div class="notice">
                    <h1>There are currently no schools in the system. Please add one (or many!).</h1>
                </div>
            }

            @foreach (var school in Model)
            {
                <div class="school vcard">
                    <span class="fn">@school.Name</span>
                    <div class="adr">
                        <div class="street-address">@school.StreetAddress1</div>
                        <div class="street-address">@school.StreetAddress2</div>
                        <span class="locality">@school.City</span>,<span class="region">RI</span> <span class="postal-code">@school.ZipCode</span>
                    </div>
                    <span class="classroom-count">
                        @school.Seats seats
                    </span>
                    <span class="poverty-threshold">
                        @(school.PovertyRate*100)% of students below poverty
                    </span>

                    @{
                        var percentMale = 100 - school.GenderBalance * 100;
                        var percentFemale = 100 - percentMale;
                    }

                    <span class="percentage-female">
                        @(percentMale)% female
                    </span>
                    <span class="percentage-male">
                        @(percentMale)% male
                    </span>

                    @Html.ActionLink(linkText: "Edit", actionName: "EditSchool", routeValues: new { id = school.ID }, htmlAttributes: new { @class = "edit" })
                    @Html.ActionLink(linkText: "Delete", actionName: "DeleteSchool", routeValues: new { id = school.ID }, htmlAttributes: new { @class = "delete" })
                </div>
            }
        </div>
    </div>
</main>

