@using GoldenTicket.Resources

@{
    string bodyId = "";
    if(!string.IsNullOrEmpty(ViewBag.BodyId))
    {
        bodyId = ViewBag.BodyId;
    }
    string bodyClass = "";
    if(!string.IsNullOrEmpty(ViewBag.BodyClass))
    {
        bodyClass = ViewBag.BodyClass;
    }  
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>RI Pre-K Lottery</title>
    @Styles.Render("~/Content/reset.css")
    @Styles.Render("~/Content/forms.css")
    @Styles.Render("~/Content/admin.css")
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,700' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/modernizr.custom.78865.js")
    @Scripts.Render("~/Scripts/golden_ticket.js")
    @RenderSection("scripts", required: false)
</head>

<body id="@bodyId" class="@bodyClass">
    <header id="header">
        <div class="site-width">
            <h1><a href="applications.php">Pre-k Lottery</a></h1>
            <nav class="nav-secondary">
                <a class="people" href="people.php"><span>People</span></a>
                <a class="schools" href="schools.php"><span>Schools</span></a>
                <a class="settings" href="settings.php"><span>Settings</span></a>
                <a class="sign-out" href="sign-in.php"><span>Sign out</span></a>
            </nav>
        </div>
    </header>
    
    @RenderBody()
</body>
</html>
