@using GoldenTicket.Resources
@model GoldenTicket.Models.Applicant


@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js success";
    Layout = "~/Views/Registration/_RegistrationLayout.cshtml";
}
<main>
    <div class="site-width">
        <h1>@GoldenTicketText.Success</h1>

        <p>@string.Format(GoldenTicketText.SuccessfullyEnteredStudent, Model.StudentFirstName, Model.StudentLastName, ViewBag.NotificationDate)</p>

        <p>@string.Format(GoldenTicketText.ConfirmationNumberIs, Model.ConfirmationCode).<p> 
        
        <p>@Html.Raw(string.Format(GoldenTicketText.HowToContact, ViewBag.GlobalConfig.ContactEmail, ViewBag.GlobalConfig.ContactPersonName, ViewBag.GlobalConfig.ContactPhone))</p>

        @Html.ActionLink(@GoldenTicketText.EnrollAnotherFamilyMember, "StudentInformation")
    </div>
</main>

