@using GoldenTicket.Resources
@model GoldenTicket.Models.Applicant

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js guardian-information";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}
<div id="signpost">
    <div class="site-width">
        <h2>@string.Format(GoldenTicketText.StepXOfY, 2, 4) @GoldenTicketText.GuardianInformation</h2>
        @Html.ActionLink("Go back", "StudentInformation")
    </div>
</div>
<main>
    <div class="site-width">
        <!-- CSS class of DIV if errors will be "validation-summary-errors" (Structure: div > ul > li) -->
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            
            <section id="guardian-information">
                <h1>@GoldenTicketText.GuardianInformation</h1>
                <p>@string.Format(GoldenTicketText.PleaseProvideBasicInformationAbout, @Model.StudentFirstName)</p>
                <fieldset class="fieldset-name">
                    <legend>@GoldenTicketText.FullName</legend>
                    <div class="field">
                        @Html.LabelFor(model => model.Contact1FirstName, @GoldenTicketText.First)
                        @Html.TextBoxFor(model => model.Contact1FirstName)
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.Contact1LastName, @GoldenTicketText.Last)
                        @Html.TextBoxFor(model => model.Contact1LastName)
                    </div>
                </fieldset>
                <div class="field field-phone-number">
                    @Html.LabelFor(model => model.Contact1Phone, @GoldenTicketText.PhoneAndFormat)
                    @Html.TextBoxFor(model => model.Contact1Phone)
                </div>
                <div class="field field-email-address">
                    @Html.LabelFor(model => model.Contact1Email, @GoldenTicketText.EmailAddress)
                    <p class="note" id="guardian-email-address-note">@Html.Raw(string.Format(GoldenTicketText.ForEmailAssistance, ViewBag.GlobalConfig.ContactEmail, ViewBag.GlobalConfig.ContactPersonName, ViewBag.GlobalConfig.ContactPhone))</p>
                    @Html.TextBoxFor(model => model.Contact1Email, new { @aria_describedby="guardian-email-address-note"})
                </div>
                <fieldset>
                    <legend>@string.Format(GoldenTicketText.RelationshipToPerson, @Model.StudentFirstName)</legend>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact1Relationship, "father")
                            @GoldenTicketText.Father
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact1Relationship, "mother")
                            @GoldenTicketText.Mother
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact1Relationship, "stepfather")
                            @GoldenTicketText.Stepfather
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact1Relationship, "stepmother")
                            @GoldenTicketText.Stepmother
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact1Relationship, "guardian")
                            @GoldenTicketText.Guardian
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact1Relationship, "other")
                            @GoldenTicketText.Other
                        </label>
                    </div>
                </fieldset>

                <h1>Alternate contact information</h1>
                <p>These fields are optional, but provide backup contact information in the event the guardian (above) can't be reached.</p>
                <fieldset class="fieldset-name">
                    <legend>Full name</legend>
                    <div class="field">
                        @Html.LabelFor(model => model.Contact2FirstName, @GoldenTicketText.First)
                        @Html.TextBoxFor(model => model.Contact2FirstName)
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.Contact2LastName, @GoldenTicketText.Last)
                        @Html.TextBoxFor(model => model.Contact2LastName)
                    </div>
                </fieldset>
                <div class="field field-phone-number">
                    @Html.LabelFor(model => model.Contact2Phone, @GoldenTicketText.PhoneAndFormat)
                    @Html.TextBoxFor(model => model.Contact2Phone)
                </div>
                <div class="field field-email-address">
                    @Html.LabelFor(model => model.Contact2Email, @GoldenTicketText.EmailAddress)
                    @Html.TextBoxFor(model => model.Contact2Email)
                </div>
                <fieldset>
                    <legend>Relationship to @Model.StudentFirstName</legend>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact2Relationship, "father")
                            @GoldenTicketText.Father
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact2Relationship, "mother")
                            @GoldenTicketText.Mother
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact2Relationship, "stepfather")
                            @GoldenTicketText.Stepfather
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact2Relationship, "stepmother")
                            @GoldenTicketText.Stepmother
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact2Relationship, "guardian")
                            @GoldenTicketText.Guardian
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label>
                            @Html.RadioButtonFor(model => model.Contact2Relationship, "other")
                            @GoldenTicketText.Other
                        </label>
                    </div>
                </fieldset>


                <h1>@GoldenTicketText.HouseholdInformation</h1>
                <p>@GoldenTicketText.NumberOfPeopleInHouseholdInstructions</p>
                <div class="field field-select field-size">
                    @Html.LabelFor(model => model.HouseholdMembers, @GoldenTicketText.NumberOfPeopleInHousehold)
                    @Html.TextBoxFor(model => model.HouseholdMembers, new { @onchange = "swapIncomeEntry()"})
                </div>
                <div class="field field-select field-width-large" id="guardian-income-select">
                    <label>
                        @GoldenTicketText.AverageMonthlyIncomeAndExplanation
                    </label>
                    @Html.DropDownList("household-monthly-income-select", new SelectList(ViewBag.IncomeRanges, "Value", "Text"), new { @onchange = "fillIncomeTextFromSelect();swapIncomeEntry();" })
                </div>
                <div class="field field-select field-width-large" id="guardian-income-text" hidden>
                    <label>
                        @GoldenTicketText.AverageHouseholdIncomeInstructions
                    </label>
                    $ @Html.TextBoxFor(model => model.HouseholdMonthlyIncome) .00
                </div>
            </section>
            <footer>
                <input class="button" type="submit" value="Continue" />
            </footer>
        }
    </div>
</main>

<script type="text/javascript">

    var MAX_INCOME = @ViewBag.MaxIncome;

    function swapIncomeEntry() {
        var householdMembers = $("#HouseholdMembers").val();
        var guardianIncomeSelectDiv = $("#guardian-income-select");
        var householdMonthlyIncomeSelectValue = $("#household-monthly-income-select").val();
        var guardianIncomeTextDiv = $("#guardian-income-text");

        if (householdMembers > 10 && householdMonthlyIncomeSelectValue >= MAX_INCOME) {
            guardianIncomeTextDiv.show();
        }
        else {
            guardianIncomeSelectDiv.show();
            guardianIncomeTextDiv.hide();
        }
    }

    function fillIncomeTextFromSelect() {
        var incomeSelected = $("#household-monthly-income-select").val();
        $("#HouseholdMonthlyIncome").val(incomeSelected);
    }

    function loadIncomeDivs() {
        var incomeEntered = $("#HouseholdMonthlyIncome").val();

        if (incomeEntered && incomeEntered < MAX_INCOME) {
            $("#household-monthly-income-select").val(incomeEntered);
        }
        else if (incomeEntered && incomeEntered >= MAX_INCOME) {
            $("#household-monthly-income-select").val(MAX_INCOME);
        }


        swapIncomeEntry();
    }

    $(document).ready(loadIncomeDivs());

</script>