@using GoldenTicketResources

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js welcome";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<main>
    <div class="site-width">
        <p>@GoldenTicketText.ParentIntroPageIntro</p>
        <h1>@GoldenTicketText.ParentIntroWhatYouNeedToKnowHeader</h1>
        <p>@GoldenTicketText.ParentIntroWhatYouNeedToKnowBody</p>
        <h1>@GoldenTicketText.ParentIntroWhatHappensNextHeader</h1>
        <p>@GoldenTicketText.ParentIntroWhatHappensNextBody</p>
        <p>@GoldenTicketText.ParentIntroContactInfo</p>
        <footer>
            @Html.ActionLink(@GoldenTicketText.ParentIntroApplyToTheLotteryButton, "StudentInformation", null, new { @class = "button" })
        </footer>
    </div>
</main>

