@using System.Globalization
@using GoldenTicket.Resources
@model GoldenTicket.Models.Applicant

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js review";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}
<div id="signpost">
    <div class="site-width">
        <h2>@string.Format(GoldenTicketText.StepXOfY, 4, 4) @GoldenTicketText.ReviewApplication</h2>
        @Html.ActionLink("Go back", "SchoolSelection")
    </div>
</div>
<main>
    <div class="site-width">
        @using(Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            
            <h1>@GoldenTicketText.Review</h1>
            <p>@GoldenTicketText.Review</p>
            <section id="student-information">
                <h1>@GoldenTicketText.StudentInformation</h1>
                @Html.ActionLink("Edit", "StudentInformation")
                <dl class="vcard">
                    <dt>@GoldenTicketText.FullName</dt>
                    <dd class="fn">@Model.StudentFirstName @Model.StudentMiddleName @Model.StudentLastName</dd>
                    <dt>@GoldenTicketText.Address</dt>
                    <dd class="adr">
                        <div class="street-address">@Model.StudentStreetAddress1</div>
                        <div class="street-address">@Model.StudentStreetAddress2</div>
                        <span class="locality">@Model.StudentCity</span>,<span class="region">RI</span> <span class="postal-code">@Model.StudentZipCode</span>
                    </dd>
                    <dt>@GoldenTicketText.Birthday</dt>
                    <dd>@Model.StudentBirthday.Value.ToString("MM/dd/yyyy")</dd>
                    <dt class="gender">@GoldenTicketText.Gender</dt>
                    <dd class="gender">@Model.StudentGender</dd>
                </dl>
            </section>
            <section id="guardian-information">
                <h1>@GoldenTicketText.GuardianInformation</h1>
                @Html.ActionLink("Edit", "GuardianInformation")
                <h2>@GoldenTicketText.Guardian</h2>
                <dl class="vcard">
                    <dt>@GoldenTicketText.FullName</dt>
                    <dd class="fn">@Model.Contact1FirstName @Model.Contact1LastName</dd>
                    <dt>@GoldenTicketText.Phone</dt>
                    <dd class="tel">@Model.Contact1Phone</dd>
                    <dt>@GoldenTicketText.EmailAddress</dt>
                    <dd class="email">@Model.Contact1Email</dd>
                    <dt class="relationship">@GoldenTicketText.Relationship</dt>
                    <dd class="relationship">@Model.Contact1Relationship</dd>
                </dl>
                @if(!string.IsNullOrEmpty(@Model.Contact2FirstName))
                {
                    <h2>@GoldenTicketText.AlternateContact</h2>
                    <dl class="vcard">
                        <dt>@GoldenTicketText.FullName</dt>
                        <dd class="fn">@Model.Contact2FirstName @Model.Contact2LastName</dd>
                        <dt>@GoldenTicketText.Phone</dt>
                        <dd class="tel">@Model.Contact2Phone</dd>
                        <dt>@GoldenTicketText.EmailAddress</dt>
                        <dd class="email">@Model.Contact2Email</dd>
                        <dt class="relationship">@GoldenTicketText.Relationship</dt>
                        <dd class="relationship">@Model.Contact2Relationship</dd>
                    </dl>
                }
                <h2>@GoldenTicketText.HouseholdInformation</h2>
                <dl>
                    <dt>@GoldenTicketText.HouseholdMembers</dt>
                    <dd>@Model.HouseholdMembers</dd>
                    <dt>@GoldenTicketText.HouseholdMonthlyIncome</dt>
                    <dd>@Model.HouseholdMonthlyIncome.ToString("C")</dd>
                </dl>
            </section>


            <section id="school-selection">
                <h1>@GoldenTicketText.SchoolSelection</h1>
                @Html.ActionLink("Edit", "SchoolSelection")
                <dl>
                    <dt>@GoldenTicketText.AppliedTo</dt>
                    <dd>
                        <ul>
                            @foreach(var program in ViewBag.Programs)
                            {
                                <li>@program.Name</li>
                            }
                        </ul>
                    </dd>
                </dl>
            </section>
            
            <section>
                <h1>@GoldenTicketText.BySubmittingThisForm</h1>
                <ul>
                    <li>
                        <p>@GoldenTicketText.AgreementInformationIsCorrect</p>
                    </li>
                    <li>
                        <p>@GoldenTicketText.AgreementResponsibleForTransportation</p>
                    </li>
                    <li>
                        <p>@string.Format(GoldenTicketText.AgreementReachableOnNotificationDate, @ViewBag.NotificationDate.ToString("MM/dd/yyyy"))</p>
                    </li>
                </ul>
            </section>
            
            <footer>
                <button class="button" type="submit" value="continue">@GoldenTicketText.SubmitApplication</button>
            </footer>
        }
    </div>
</main>

