@using GoldenTicket.Models
@using GoldenTicket.Resources
@model GoldenTicket.Models.Applicant


@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js school-selection";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}


@helper DisplaySchoolCheckbox(List<Applied> applieds, School school, Applicant applicant)
{
    var schoolChecked = false;
    foreach (Applied applied in applieds)
    {
        if (applied.SchoolID == school.ID)
        {
            schoolChecked = true;
            break;
        }
    }

    <input type="checkbox" id="school-@(school.ID)" value="@school.ID" name="programs" checked="@schoolChecked">
}

<div id="signpost">
    <div class="site-width">
        <h2>@string.Format(GoldenTicketText.StepXOfY, 3, 4) @GoldenTicketText.SchoolSelection</h2>
        @Html.ActionLink("Go back", "GuardianInformation")
    </div>
</div>
<main>
    <div class="site-width">
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            
            <section id="school-selection">
                <h1>@GoldenTicketText.SchoolSelection</h1>
                <p>@string.Format(GoldenTicketText.ChooseOneOrMoreSchools, @Model.StudentFirstName)</p>
                <fieldset class="fieldset-schools" id="fieldset-schools">
                    <legend>@GoldenTicketText.Schools</legend>
                    @foreach(School school in ViewBag.Programs)
                    {
                        <div class="field field-checkbox field-school">
                            <label class="vcard">
                                @DisplaySchoolCheckbox(ViewBag.Applieds, school, Model)
                                <span class="fn">@school.Name</span>
                                <div class="adr">
                                    <div class="street-address">@school.StreetAddress1</div>
                                    <div class="street-address">@school.StreetAddress2</div>
                                    <span class="locality">@school.City</span>,<span class="region">RI</span> <span class="postal-code">@school.ZipCode</span>
                                </div>
                            </label>
                        </div>
                    }
                </fieldset>
            </section>
            <footer>
                <button class="button" type="submit" value="continue">@GoldenTicketText.ReviewApplication</button>
            </footer>
        }
    </div>
</main>

