@using GoldenTicket.Models

@model GoldenTicket.Models.Applicant


@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js school-selection";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}


@helper DisplayProgramCheckbox(List<Applied> applieds, Program program, Applicant applicant)
{
    @*
        Didn't work with DbQuery for applieds object, kept getting compilation errors --- trying with a simple loop and applieds list instead
        if (applieds.Contains(((Applied) applied) => applied.ProgramID == program.ID))
    {
        <input type="checkbox" id="program-@(program.ID)" value="@program.ID" name="programs" checked>
    }
    else
    {
        <input type="checkbox" id="program-@(program.ID)" value="@program.ID" name="programs">
    }*@

    var programChecked = false;
    foreach (Applied applied in applieds)
    {
        if (applied.ProgramID == program.ID)
        {
            programChecked = true;
            break;
        }
    }

    <input type="checkbox" id="program-@(program.ID)" value="@program.ID" name="programs" checked="@programChecked">
}

<div id="signpost">
    <div class="site-width">
        <h2>You&rsquo;re on step 3 of 4: School selection</h2>
        @Html.ActionLink("Go back", "GuardianInformation")
    </div>
</div>
<main>
    <div class="site-width">
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            
            <section id="school-selection">
                <h1>School selection</h1>
                <p>Choose one or more schools that @Model.StudentFirstName will be considered for enrollment.</p>
                <fieldset class="fieldset-schools" id="fieldset-schools">
                    <legend>Schools</legend>
                    @foreach(Program program in ViewBag.Programs)
                    {
                        <div class="field field-checkbox field-school">
                            <label class="vcard">
                                @DisplayProgramCheckbox(ViewBag.Applieds, program, Model)
                                <span class="fn">@program.Name</span>
                                <div class="adr">
                                    <div class="street-address">@program.StreetAddress1</div>
                                    <div class="street-address">@program.StreetAddress2</div>
                                    <span class="locality">@program.City</span>,<span class="region">RI</span> <span class="postal-code">@program.ZipCode</span>
                                </div>
                            </label>
                        </div>
                    }
                </fieldset>
            </section>
            <footer>
                <button class="button" type="submit" value="continue">Review application</button>
            </footer>
        }
    </div>
</main>

