@using GoldenTicket.Models
@using GoldenTicket.Resources
@model GoldenTicket.Models.Applicant


@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js school-selection";
    Layout = "~/Views/Registration/_RegistrationLayout.cshtml";
}


@helper DisplaySchoolCheckbox(List<Applied> applieds, School school, Applicant applicant)
{
    var schoolChecked = false;
    foreach (Applied applied in applieds)
    {
        if (applied.SchoolID == school.ID)
        {
            schoolChecked = true;
            break;
        }
    }

    <input type="checkbox" id="school-@(school.ID)" value="@school.ID" name="programs" checked="@schoolChecked">
}

<div id="signpost">
    <div class="site-width">
        <h2>@string.Format(GoldenTicketText.StepXOfY, 3, 4) @GoldenTicketText.SchoolSelection</h2>
        @Html.ActionLink(GoldenTicketText.GoBack, "GuardianInformation")
    </div>
</div>
<main>
    <div class="site-width">
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            
            @Html.Partial("_SchoolSelectionFormFields", Model)
            
            <footer>
                <button class="button" type="submit" value="continue">@GoldenTicketText.ReviewApplication</button>
            </footer>
        }
    </div>
</main>

