@using GoldenTicket.Models
@using GoldenTicket.Resources
@model GoldenTicket.Models.Applicant

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js student-information";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}
<div id="signpost">
    <div class="site-width">
        <h2>@string.Format(GoldenTicketText.StepXOfY, 1, 4) @GoldenTicketText.StudentInformation</h2>
    </div>
</div>
<main>
    <div class="site-width">
        <!-- CSS class of DIV if errors will be "validation-summary-errors" (Structure: div > ul > li) -->
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            
            @Html.Partial("_StudentInformationFormFields", Model)
            
            <footer>
                <input class="button" type="submit" value="@GoldenTicketText.Continue"/>
            </footer>
        }
    </div>
</main>

