@using GoldenTicket.Models
@model GoldenTicket.Models.Applicant

@{
    ViewBag.BodyId = "";
    ViewBag.BodyClass = "no-js student-information";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}
<div id="signpost">
    <div class="site-width">
        <h2>You&rsquo;re on step 1 of 4: Student information</h2>
    </div>
</div>
<main>
    <div class="site-width">
        <!-- CSS class of DIV if errors will be "validation-summary-errors" (Structure: div > ul > li) -->
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            
            <section id="student-information">
                <h1>Student information</h1>
                <p>Please provide some basic information about the student you wish to enter into the lottery.</p>
                <fieldset id="student-name" class="fieldset-name">
                    <legend>Full name</legend>
                    <div class="field">
                        @Html.LabelFor(model => model.StudentFirstName, "First")
                        @Html.TextBoxFor(model => model.StudentFirstName, new { @id = "student-name-first"})
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.StudentMiddleName, "Middle")
                        @Html.TextBoxFor(model => model.StudentMiddleName, new { @id = "student-name-middle"})
                    </div>
                    <div class="field">
                        @Html.LabelFor(model => model.StudentLastName, "Last")
                        @Html.TextBoxFor(model => model.StudentLastName, new { @id = "student-name-last"})
                    </div>
                </fieldset>
                <fieldset class="fieldset-address">
                    <legend>Address</legend>
                    <div class="field field-street">
                        @Html.LabelFor(model => model.StudentStreetAddress1, "Street address (line 1)")
                        @Html.TextBoxFor(model => model.StudentStreetAddress1, new { @id = "student-residence-street-1" })
                    </div>
                    <div class="field field-street">
                        @Html.LabelFor(model => model.StudentStreetAddress2, "Street address (line 2)")
                        @Html.TextBoxFor(model => model.StudentStreetAddress2, new { @id = "student-residence-street-2" })
                    </div>
                    <div class="field field-city">
                        <!-- TODO Add a note that if a city isn't available, then there are no programs that the applicant is eligible for -->
                        @Html.LabelFor(model => model.StudentCity, "City")
                        @Html.DropDownListFor(model => model.StudentCity, new SelectList(ViewBag.DistrictNames, Model.StudentCity))
                    </div>
                    <div class="field field-state field-select is-disabled">
                        @Html.LabelFor(model => model.StudentState, "State")
                        @Html.TextBoxFor(model => model.StudentState, new { @id = "student-residence-state", @value="RI", @readonly=true })
                    </div>
                    <div class="field field-zip">
                        @Html.LabelFor(model => model.StudentZipCode, "Zip")
                        @Html.TextBoxFor(model => model.StudentZipCode, new { @id = "student-residence-zip" })
                    </div>
                </fieldset>
                <div class="field field-date">
                    @Html.LabelFor(model => model.StudentBirthday, "Birthday")
                    @Html.TextBoxFor(model => model.StudentBirthday, new { @id = "student-birthdate", @type="date" })
                </div>
                <fieldset id="student-gender">
                    <legend>Gender</legend>
                    <div class="field field-radiobutton">
                        <label for="student-gender-male">
                            @Html.RadioButtonFor(model => model.StudentGender, Gender.Male, new { @id = "student-gender-male" })
                            Male
                        </label>
                    </div>
                    <div class="field field-radiobutton">
                        <label for="student-gender-female">
                            @Html.RadioButtonFor(model => model.StudentGender, Gender.Female, new { @id = "student-gender-female" })
                            Female
                        </label>
                    </div>
                </fieldset>
            </section>
            <footer>
                <input class="button" type="submit" value="Continue"/>
            </footer>
        }
    </div>
</main>

