@using GoldenTicket.Models
@model LoginViewModel

@{
    ViewBag.BodyId = "sign-in";
    ViewBag.BodyClass = "no-js sign-in";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="page">
        <div class="site-width">
            <h1>Sign in</h1>
            <div class="field">
                @Html.LabelFor(m => m.Email, labelText: "Email")
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Password, labelText: "Password")
                @Html.PasswordFor(m => m.Password)
            </div>
            <div class="field-checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <footer>
                <input value="Sign in" type="submit" class="button"/>
                
                <p>
                    @Html.ActionLink("Forgot password?", "ForgotPassword")
                </p>
            </footer>
        </div>
    </div>
}