@model GoldenTicket.Models.ResetPasswordViewModel
@{
    ViewBag.BodyId = "sign-in";
    ViewBag.BodyClass = "no-js sign-in";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Code)

    <div class="page">
        <div class="site-width">
            <h1>Change password</h1>
            <div class="field">
                @Html.LabelFor(m => m.Email, labelText: "Email")
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Password, labelText: "Password")
                @Html.PasswordFor(m => m.Password)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.ConfirmPassword, labelText: "Confirm Password")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>

            <footer>
                <input value="Change password" type="submit" class="button" />
            </footer>
        </div>
    </div>
}
